<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Portfolio</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  <h1>Welcome to Alex's website!</h1>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Alex's Website</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/portfolio">Portfolio</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/edit-posts">Edit Posts</a></li>
      </ul>
    </div>
  </nav>
  <h3 class="page_subheader">Portfolio</h3>
  <h4>Projects:</h4>

  <div class="media">
    <div class="media-left">
      <img src="/jukebox.jpg" class="media-object" style="width:60px; border-radius:10px;" >
    </div>
    <div class="media-body">
      <h4 class="media-heading"><a href="https://github.com/alexmancheno/TTP_assignments/tree/master/Jukebox-Starter-Kit-Workshop">Jukebox w/ Spotify api calls</a></h4>
      <p>Ever wanted to share the responsibility of djing to a party? Well now you can!
        Customize your own playlist with your very own online jukebox (batteries not included).
      </p>
    </div>
  </div>
	<hr style="color: black;">

</body>
</html>
