<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Blog</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  <h1>Welcome to Alex's website!</h1>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Alex's Website</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/portfolio">Portfolio</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/edit-posts">Edit Posts</a></li>
      </ul>
    </div>
  </nav>
  <h3 class="page_subheader">Edit Posts</h3>

  <div class="container">
    <h4>Submit a new post:</h4>
    <form action="/edit-posts" method="post" class="form-horizontal">
      <div class="form-group">
        <label class="control-label col-sm-2" for="email">Title:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="title" name="title" placeholder="What's the title of the post?">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="pwd">Post body:</label>
        <div class="col-sm-10">
          <textarea class="form-control" name="body" rows="7" cols="50" placeholder="Type away!!"></textarea></div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </form>
  </div>

</body>
</html>
